<nav class="navbar navbar-static-top" style="font-weight:bold;font-size:15px">
  <div class="container-fluid">
    <br>
    <div class="row">

    <div class="navbar-header">
        <div class="col-md-3">  <a href="{{site.uri.public}}"> <img src="{{assets.url("assets://userfrosting/images/logo.png")}}" style="height:50px;width:50px"/></a></div>
      {% block navbar_logo %}
      <div class="col-md-2">
      <a href="{{site.uri.public}}" class="navbar-brand">

      {{site.title}}</a>
</div></div>
    {% endblock %}

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>

    <!-- Collect the nav links, forms, and other content for toggling -->


    {% block main_nav %}
    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{site.uri.public}}/about">{{translate("ABOUT US")}}</a>
        </li>
        <li>
          <a href="{{site.uri.public}}/cooking">{{translate("COOKING")}}</a>
        </li>
        <li>
          <a href="{{site.uri.public}}/driving">{{translate("DRIVER")}}</a>
        </li>
        <li >
          <a href="{{site.uri.public}}/cleaning">{{translate("CLEANING")}}</a>
        </li>
        <li >
          <a href="{{site.uri.public}}/about">{{translate("CONTACT US")}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
      <!--<ul class="nav navbar-nav">
          <li class="servicesMenu">
              <a href="{{site.uri.public}}">Services<span class="caret"></span></a></option>
              <ul class="servicesDD">
                <li><a href="{{site.uri.public}}/cooking">Cooking</a></li>
                <li><a href="{{site.uri.public}}/cleaning">Cleaning</a></li>

                <li><a href="{{site.uri.public}}/driving">Drivers</a></li>
              </ul>

            </li>
          </ul>-->

    </div></div>


  <!-- Collect the nav links, forms, and other content for toggling -->
      {% endblock %}


<div class="col-md-3">


</div>

    <!-- /.navbar-collapse -->
    <!-- Navbar Right Menu -->
    <div class="col-md-2">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        {% block secondary_nav %}{% endblock %}
      </ul>
    </div>
  </div>
    <!-- /.navbar-custom-menu -->
  </div>
  <!-- /.container-fluid -->
</br>
</nav>
