<footer class="main-footer">
    <div class="pull-right hidden-xs">
      
      <a href="{{site.uri.public}}/legal">{{ translate("TOS") }}</a> &middot;
      <a href="{{site.uri.public}}/privacy">{{ translate("PRIVACY") }}</a>
    </div>
    &copy; <a href="{{site.uri.public}}">{{site.title}}</a>, {{ "now"|date("Y") }}. Work by Anthra Gupta,Matthew Thomass & R.Dasa Sathyan
</footer>
