{% block subject %}
    Your Cook Booking Confirmation
{% endblock %}

{% block body %}
<p>
    Dear {{user.first_name}},
</p>
<p>
    Your Cleaner Booking is confirmed.  Your Cleaner's name is {{Cleaner_name}}.. Your Cook's contact number is {{mobno}} and your booking ID is CK{{id}}

    </a>
</p>
<p>
    With regards,<br>
    The {{site.title}} Team
</p>
{% endblock %}
