{% extends "pages/abstract/default.html.twig" %}
{# Overrides blocks in head of base template #}
{% block page_title %}Booking Confirmation for booking your Cook{% endblock %}

{% block page_description %}Your cook is being booked{% endblock %}

{% block body_matter %}

    Hi, {{ current_user.first_name }}!
    {% include "pages/cooking/cooking-default-options.html.twig" %}
    <div class="container">

    <img src="{{assets.url("assets://images/confirm.gif")}}" style="height:350px;width:350px;"/>


    <h1> Your cook {{name}} is booked.. Your Cook's contact number is {{mobno}} and your booking ID is CK{{booking_id}}</h1>
</div>
{% endblock %}
